<div class="diaries-main">
  <div class="diary-form-contents">
    <div class="diary-form__heading">
      <h2>日記を書く</h2>
    </div>
    <div class="diary-form">
      <%= form_with model: @diary, local: true do |form| %>
        <div class="diary-form__content">
          <%= form.text_area :content, class:"input-diary", placeholder: "今日の日記を書いてね！" %>
        </div>
        <div class="diary-form__submit">
          <%= form.submit "投稿" %>
        </div>
      <% end %>
    </div>

    <div class="diary-contents">
      <div class="diary-content__heading">
        <h2>日記一覧</h2>
      </div>
    
      <% if @diaries.any? %>
      <% @diaries.each do |diary| %>
        <div class="diary-content">
          <div class="diary-content-top">
            <div class="dairy-content__time">
              投稿日: <%= diary.created_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
            
            <div class="diary-content__text" >
              <%= diary.content %>
            </div>
          </div>
          <%= link_to "削除", diary_path(diary), method: :delete, class: "diary-destroy" %>
        </div>
      <% end %>
    <% else %>
      <p>まだ日記がありません</p>
    <% end %>
  </div>

  <div class="button-container">
    <div class="end-btn">
      <%= link_to "もどる", root_path, class: "btn-back" %>
    </div>
  </div>
</div>
