<h2>Edit Acount</h2>
<h5>アカウントの編集</h5>
<%= form_with model: current_user, local: true do |f| %>
  <div>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>