<div class="schedule_main">
 <%# ユーザーがログインしていないとカレンダーが表示されない%>
  <% if user_signed_in? %>
    <%= link_to "予定を登録する", new_schedule_path, class:"input-schedule-btn" %>
    <%= link_to "日記", diaries_path, class:"input-schedule-btn" %>

    <%= month_calendar events: @schedules do |date, schedules| %>
      <%= date.day %>
      <% schedules.each do |schedule| %>
        <div>
          <%= link_to schedule.title, schedule %>
        </div>
      <% end %>
    <% end %>
    
    <div class="schedule-wrap">
      <div class="col-md-4">
        <h2 class="schedule-heading">今月の予定</h2>
        <table class="table">
          <thead>
            <tr>
              <th class="title">タイトル</th>
              <th class="start-time">日にち</th>
            </tr>
          </thead>

          <tbody>
            <% @current_month_schedules.each do |schedule| %>
              <tr>
                <td><%= schedule.title %></td>
                <td><%= schedule.start_time.strftime("%m-%d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="title-contents">
      <h2 class="service-title">ScheDiary_app</h2>
      <p class="service-explain">毎日の予定と日記を簡単に登録</p>
    </div>

    <div class="service-items">
      <div class="service-item">
        <div class="service-image">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </div>
      </div>
    </div>
  <% end %>

</div>

