<div class="schedule_main">
 <%# ユーザーがログインしていないとカレンダーが表示されない%>
  <% if user_signed_in? %>
    <%= link_to "予定を登録する", new_schedule_path, class:"input-schedule-btn" %>
    <%= link_to "日記", diaries_path, class:"input-schedule-btn" %>

    <%= month_calendar events: @schedules do |date, schedules| %>
      <%= date.day %>
      <% schedules.each do |schedule| %>
        <div>
          <%= link_to schedule.title, schedule %>
        </div>
      <% end %>
    <% end %>
    
    <div class="schedule-wrap">
      <div class="col-md-4">
        <h2 class="schedule-heading">これからの予定</h2>
        <table class="table">
          <thead>
            <tr>
              <th class="title">タイトル</th>
              <th class="start-time">日にち</th>
            </tr>
          </thead>

          <tbody>
            <% @schedules.each do |schedule| %>
              <tr>
                <td><%= schedule.title %></td>
                <td><%= schedule.start_time.strftime("%m-%d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-4">
        <%= link_to "はじめる", new_user_session_path, class: :greeting__link %>
      </div>
    </div>
  <% end %>

</div>

