<!DOCTYPE html>
<html>
  <head>
    <title>ScheDiaryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class="header">
      <div class="heading">
        <h1 class="logo">ScheDiaryApp</h1>
      </div>
      <div class="grid-6">
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "login" %>
          <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
